* {
	box-sizing: border-box;
}
html {
	background: black;
	color: white;
}

body {
	margin: 0;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
